.ant-drawer-content-wrapper {
  width: 450px !important;
}
.btn_self {
  width: 100%;
  background-color: rgb(0, 21, 41);
  color: white;
  font-size: 24px;
  font-weight: 600;
  height: auto !important;
}
.btn_self:hover {
  background-color: rgb(0, 21, 41);
  color: white;
  opacity: 0.6;
}

/*edit forma style */
.form_element {
  width: 100%;
  display: flex;
}
.form_element input {
  width: 100%;
  font-feature-settings: "tnum";
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
  margin-bottom: 10px;
}
.form_element input:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
/* drag and drop */
#transfer{
  margin-top: 15px;
  margin-bottom: 25px;
}
.title_self{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    height: 30px;
}
.title_self p{
    display: flex;
    align-items: center;
    vertical-align: 100%;
    margin-bottom: 0;
    font-size: 24px;
    color: black;
    font-weight: 600;
    opacity: 0.7;
}

/* reselect */
.css-2b097c-container {
  margin-bottom: 30px;
}
